<div class="container-fluid">
	<div class="progress">
		<div id="prog" class="progress-bar progress-bar-success" role="progressbar"
			aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
	</div>
	<br> <br> <br> <br>

	<h3>How much deposit do you have?</h3>


	<div class="col-md-12">
		<div class="col-md-4"></div>
		<div class="col-md-3">
			<div class="input-group">
				<span class="input-group-addon">$</span> <input type="text"
					pattern="^(\d+|\d{1,3}(,\d{3})*)(\.\d+)?$"
					onkeyup="this.value=add_commas(this.value);"
					class="form-control input-lg" data-ng-model="deposit">
			</div>
			<br>
			<p id="error" style="color: #ba2d55; display:none;" ><span class="glyphicon glyphicon-exclamation-sign" style="color:#ba2d55;"></span>&nbsp;&nbsp;Please enter a valid amount.</p>
			<p id="error2" style="color: #ba2d55; display:none;" ><span class="glyphicon glyphicon-exclamation-sign" style="color:#ba2d55;"></span>&nbsp;&nbsp;Your deposit amount should be lower than the property price.</p>
		</div>
		<div  style="display: table;">
			<div class="alignButtons" >
				<button class="button_small" data-ng-click="passOn()"> Next </button>
			
			</div>
		</div>
	</div>
		<button class="backButton"><a class="back" data-ng-click="back()"> Back </a></button>

	
</div>

</div>