
<div class="container-fluid mainPage" >

	<br><br><br><br>
	
		<h1 class="mainPageHeading">Find your perfect home loan</h1>
		<p class="paraText">Loanly can save you thousands of dollars.</p>

	<br><br>
		<button class="mainButton"  onclick="window.location.href='#!/refinance'" style="padding-right: 10px;"> 
			<img id ="HomePageButtonImage" src="https://prodassets.lendi.com.au/refinance_icon.png">&nbsp;&nbsp;&nbsp;Refinance existing loan 
		</button>

		<button class="mainButton"  onclick="window.location.href='#!/homeLoan'"> 
			<img id ="HomePageButtonImage" src="https://prodassets.lendi.com.au/ownerocc_icon.png">&nbsp;&nbsp;Borrow for new purchase
		</button>
	<br><br><br><br>
	<br><br><br><br>
	<div class="container">
		<div class="row">
		  <div class="col-sm-4">
		  	<img alt="" src="../image/search.png" style ="width:150px;">
		  	<h3>Search</h3>
		  	<p>Text 1 Text 1 Text 1 Text 1 Text 1 Text 1 Text 1 Text 1</p>
		  </div>
		  <div class="col-sm-4">
			<img alt="" src="../image/compare.png" style ="height:150px;">
		  	<h3>Compare</h3>
		  	<p>Text 2 Text 2 Text 2 Text 2 Text 2 Text 2 Text 2 Text 2</p>
		  </div>
		  <div class="col-sm-4">
			<img alt="" src="../image/apply.png" style ="width:150px;">
		  	<h3>Apply</h3>
		  	<p>Text 3 Text 3 Text 3 Text 3 Text 3 Text 3 Text 3 Text 3</p>
		  </div>
		</div>
	</div>
</div>

