<div class="container-fluid">

	<br>
	<br>
	<br>
	<br>
	<h3>Where can we send your home loan deals?</h3>
	<br>
	<form id="customerDetails">
		<div>
			<p>Name</p>
			<div>
				 <input type="text" class="customerTextBox" data-ng-model="name">
			</div>
			<br>
			<p id="error1" style="color: #ba2d55; display: none;">
				<span class="glyphicon glyphicon-exclamation-sign"
					style="color: #ba2d55;"></span>&nbsp;&nbsp;Please enter your name.
			</p>
		</div>
		<div >
			<p>Email</p>
			<div>
				 <input type="email" class="customerTextBox" data-ng-model="email">
			</div>
			<br>
			<p id="error2" style="color: #ba2d55; display: none;">
				<span class="glyphicon glyphicon-exclamation-sign"
					style="color: #ba2d55;"></span>&nbsp;&nbsp;Please enter a valid
				email.
			</p>
		</div>
		<div >
			<p>Mobile number (optional)</p>
			<div>
				 <input type="text" class="customerTextBox" data-ng-model="phone">
			</div>
			<br>
			<p id="error3" style="color: #ba2d55; display: none;">
				<span class="glyphicon glyphicon-exclamation-sign"
					style="color: #ba2d55;"></span>&nbsp;&nbsp;Please enter a valid
				phone number.
			</p>
		</div>
		<br>
		<div>
				<input type="submit" id="viewResultsButton" data-ng-click="passOn()"
					value="View Results">
		</div>
	</form>
	<!--input type = "button" class="button" data-ng-click="back()" value="Back" style="display: block;"-->

</div>